<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>查看资料</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">微信昵称<span class="check-tips">（用户名会作为默认的昵称）</span></label>
            <div class="controls">
                <input type="text" readonly="readonly" class="text input-large" name="username" value="{$userdetail.nickname}">
                <input type="text" readonly="readonly" class="text input-large" name="uid" value="{$userdetail.uid}" style="display: none;">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">真实姓名<span class="check-tips">（与身份证一致）</span></label>
            <div class="controls">
                <input type="text" readonly="readonly" class="text input-large" name="name" value="{$userdetail.name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">身份证号<span class="check-tips">（与身份证一致）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" readonly="readonly" name="idcard" value="{$userdetail.idcard}">
            </div>
        </div>
        <!-- <div class="form-item">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="score" value="{$userdetail.status}">
            </div>
        </div> -->
       
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
