<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增设备</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">设备名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="device_name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">设备id号<span class="check-tips">（设备唯一标志）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="device_id" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">所属店铺</label>
            <div class="controls">
                <select name="shop_id">
                   <if condition="$shoplists neq null">
                        <volist name="shoplists" id="vo">
                            <option value="{$vo.shop_id}">{$vo.shop_name}</option>
                        </volist>
                    <else /><option>请先添加店铺</option>
                   </if>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">设备二维码<span class="check-tips">（设备所对应的二维码）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="device_qr" value="">
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Device/index')}');
    </script>
</block>
